<div class="container">
  <h1 class="d-flex justify-content-center">User registration</h1>

  <form #login="ngForm" (ngSubmit)="submit(login)">
    <div class="form-group">
      <label for="firstname">First name</label><br>
      <input #name="ngModel" required minlength="2" maxlength="10" type="text" name="firstname" id="firstname" class="form-control" ngModel>
      <div *ngIf="name.touched && name.invalid">
      </div>
    </div>
    <pre></pre>

    <div class="form-group">
      <label for="lastname">Last name</label><br>
      <input type="text" name="lastname" id="lastname" class="form-control" ngModel>
    </div>
    <pre></pre>

    <div class="form-group">
      <label for="email">Email</label><br>
      <input type="email" name="email" id="email" class="form-control" ngModel>
    </div>
    <pre></pre>

    <div class="form-group">
      <label for="password">Password</label><br>
      <input type="password" name="password" id="password" class="form-control" ngModel>
    </div>
    <pre></pre>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
